<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Get Fit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<link rel="SHORTCUT ICON" href="~/favicon.ico"/>
<body>
       <div class="wrapper">
        
            @*<div class="logo"><img src="~/Content/logo_sidebar.png" alt="logo"></div>*@
            @*<div class="navbar navbar-inverse">*@
              
                    <div class="navbar-collapse collapse">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-header>
                            @Html.ActionLink("Get Fit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                            <li>@Html.ActionLink("Статии", "Index", "Posts")</li>
                            <li>@Html.ActionLink("Нова статия", "Create", "Posts")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            @*</div>*@
           
       
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Get Fit</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
