@using GetFit.Classes;
@using GetFit.Models;


@model IEnumerable<Post>


@{
    ViewBag.Title = "Index";
}

<h2 class="title">Списък</h2>

<p>
    @Html.ActionLink("Създай нова статия", "Create")
</p>
<table class="table">
    <tr class="title">
        <th>
            Заглавие
        </th>
        <th>
           Съдържание
        </th>
        <th>
            Дата
        </th>
        <th>
            Автор
        </th>
        <th>
            Коментари
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
       
        <td>
           @if (item.Author != null)
           {
            @item.Author.FullName
           }
           else
           {
              <i>(Няма Автор)</i>
           }
        </td>
        <td>
         <a href="~/Comments/Index">Коментари</a>
        </td>

        
        <td>
            @if (User.IsInRole("Administrators") || (item.Author != null && User.Identity.Name == item.Author.UserName))
            {
                @Html.ActionLink("Добави", "Edit", new { id = item.Id }) @:|
            }
          
            @Html.ActionLink("Детайли", "Details", new { id=item.Id }) 
            @if (User.IsInRole("Administrators") || (item.Author != null && User.Identity.Name == item.Author.UserName))
            {
             @:|  @Html.ActionLink("Изтрий", "Delete", new { id = item.Id }) 
            }
            
        </td>
    </tr>
}


</table>
